<!DOCTYPE html>
<html>
  <head>
    <title>Gerador de Horários</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <div id="header">
      <ul id="menu">
        <li><%= link_to "Home", "/" %>
        <li><%= link_to "Gerar grade", best_timetable_path %></li>
        <li><%= link_to "Disciplinas", disciplines_path %></li>
        <li><%= link_to "Turmas", groups_path %></li>
        <li><%= link_to "Sobre", "#" %></li>
      </ul>
    </div>
    <div id="content" class="centered">
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
